
{extend, "init.config"}.
{extend, "deps/build_config/base.config"}.
{extend, "deps/build_config/dependencies.config"}.

{plugins, [rebar_alt_deps]}.

{deps, [
    {rebar_alt_deps, ".*",
        {git, "git://github.com/hyperthunk/rebar_alt_deps.git"}},
    {pqueue, ".*",
        {git, "https://github.com/okeuday/pqueue.git"}},
    {trie, ".*",
        {git, "https://github.com/okeuday/trie.git"}}
%    {skewbinheap, ".*",
%        {git, "https://github.com/okeuday/skewbinheap.git"}}
]}.

%% rb isn't packaged as an OTP application, so 'get-deps' won't work...
{alt_deps, [{rb, ".*"}]}.
{alt_repositories, [
    {rb, {github, "rvirding", "develop"}}
]}.
