
{extend, "init.config"}.
{extend, "deps/build_config/base.config"}.
{alien_dirs, ["deps/rb"]}.
{plugins, [rebar_alien_plugin]}.

{deps, [
    {rb, ".*",
        {git, "https://github.com/rvirding/rb.git"}},
    {pqueue, ".*",
        {git, "https://github.com/okeuday/pqueue.git"}},
    {trie, ".*",
        {git, "https://github.com/okeuday/trie.git"}}
%    {skewbinheap, ".*",
%        {git, "https://github.com/okeuday/skewbinheap.git"}}
]}.
